/*HOME PAGE*/

@media (max-width: 600px){
  .vertical {
    display: none;
  }
  .what-i-do {
    display: none;
  }
  .container-flex {
    display: flex;
    flex-direction: column;
    margin: 0;
    /*width: 100%;*/
  }
  .five, .one, .two, .me, .six, .three, .four {
    width: 100%;
    margin: 0;
  }
  .home {
    background: white;
    padding-bottom: 0;
  }
  .me {
    zoom: .5;
  }
}
@media (max-width: 1024px) {
  .vertical {
    margin-left: 10vh;
  }
  .brand-statement {
    padding-right: 5vh;
  }
  .container-flex {
    margin: 0 5vh;
  }
  .skill-container {
    width: 80%;
  }
}

/*WORK PAGE */

@media (max-width: 600px) {
  .break {
    flex-direction: column;
    margin: 0;
  }
}

/*DEVELOPMENT PAGE*/

@media (max-width: 700px) {
  .one-dev, .two-dev, .three-dev, .four-dev {
    width: 100%;
  }
}

@media (max-width: 1024px) {
  .work-titles2 {
    padding: 7vh;
  }
  .work-titles {
    padding: 10vh;
  }
}

/*DESIGN PAGE */

@media (max-width: 600px) {
  .design-flex {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .design-box {
    width: 100%;
    margin: 0;
  }
  .more {
    margin: auto;
    padding-top: 20px;
  }
  .design3,
  .design,
  .design2,
  .design4,
  .design5,
  .design6 {
    margin: 0;
  }
}

@media (max-width: 1024px) {
  .design-flex {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    margin: 0;
  }
  .more {
    padding-top: 3vh;
  }
}

/*CONTACT PAGE*/

@media (max-width: 600px) {
  .contact-buttons {
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: center;
    margin: 0;
  }
  .button, .button2 {
    width: 100%;
    margin: 0;
  }
}

@media (max-width: 1024px) {

}

/*CASE STUDY PAGES */

@media (max-width: 600px) {
  .squares {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  .case-image-blends, .case-image-bok, .case-image-tuts, .case-image-spacedout, .case-image-simply {
    zoom: .15;
  }
  .case-body {
    padding: 0;
    padding-top: 5vh;
  }
  .case-top {
    width: 80%;
  }
  #task {
    zoom: .2;
  }
  #cow {
    zoom: .25;
  }
  #typed, .cursor {
    font-size: 5vh;
  }
  .case-pics2 {
    height: 80px;
    margin-top: 5vh;
  }
}

@media (max-width: 1024px) {
  .case-body {
    padding: 0;
    padding-top: 5vh;
  }
  .squares {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
  }
  #task {
    zoom: .3;
  }
  #typed, .cursor {
    font-size: 7vh;
  }
  .case-pics2 {
    height: 80px;
    margin-bottom: 5vh;
  }
}
