/*BASE STYLES*/

*  {
  margin: 0;
}

@font-face {
  font-family: 'Hero';
  src: url('../fonts/Hero copy.otf');
}

a {
  text-decoration: none;
}

p {
  font-family: Hero;
}

body {
  /*background-color: #333333;*/
  /*background-color: #CCCCCC;*/
  background-color: #E5E5E5;
}

/*USED ACROSS MULTIPLE PAGES*/

.h1 {
  font-family: Hero;
  padding: 25vh;
}

.container{
    text-align:center;
    color:#FFF;
    font-weight:bold;
}

/*INDEX PAGE */

header {
  background: #333333;
  padding: .2vh;
  color: white;
  font-family: Hero;
}

#RB {
  padding: 4vh 0 0 2vw;
}

.navbar {
  padding: 0 5vw 3vh 5vw;
  color: white;
  margin-bottom: 9px;
}

.navbar:hover {
  color: #E5E5E5;
  /*color: white;*/
}

.navbar.active {
   box-shadow: inset 0 0px 0 #E5E5E5, inset 0 -5px 0px #E5E5E5;
   margin-bottom: 9px;
   /*margin-top: -5px;*/
}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: -3vh;
}

/*HOME PAGE*/

.sliders {
  text-align: center;
  padding-top: 25vh;
}

.circles {
  /*width: 300px;*/
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

#c1,
#c2,
#c3,
#c4,
#c5 {
  padding: 5vh;
  color: #80AEFF;
  cursor: pointer;
}

#c1:active,
#c2:active,
#c3:active,
#c4:active,
#c5:active {
  padding: 5vh;
  color: #3567BF;
}

#word-1,
#word-3,
#word-5,
#word-2,
#word-4 {
  font-family: Hero;
  font-size: 100px;
  display: flex;
  justify-content: center;
  color: #80AEFF;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*ABOUT PAGE */

.about {
  background: #E5E5E5;
  height: 350px;
  text-align: center;
}

.brand-statement {
  /*font-family: Hero;*/
  /*margin-top: -5vh;*/
  width: 70%;
  /*margin: auto;*/
  padding: 15vh 20vh 0 20vh;
  font-size: 25px;
  color: #333333;
  /*text-align: left;*/
}

.flex {
  /*display: flex;
  width: 600px;
  height: 300px;*/
  /*margin: auto;*/
  padding-top: 8vh;
  padding-bottom: 8vh;
}

.about-buttons {
  text-align: center;
  /*padding: 0 5vh 0 0;*/
  /*margin: auto;*/
  /*flex-wrap: reverse;
  justify-content: space-around;*/
}

.resume,
.github,
.linkedin,
.google,
.codewars {
  font-size: 20px;
  font-family: Hero;
  color: #E5E5E5;
  display: flex;
  text-align: center;
  /*flex-wrap: reverse;
  justify-content: space-around;*/
  /*padding: 20vh;*/
}

.resume:hover {
  color: white;
}

.about-container {
  background: #E5E5E5;
  color: #333333;
  height: 250px;
}

.me {
  background-image: url('../images/me.JPG');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 500px;
  color: white;
  margin:auto;
  background-color: #E5E5E5;
}

.get-in-touch {
  font-family: Hero;
  text-align: center;
  padding-top: 10vh;
}

.button {
  border-style: solid;
  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #cccccc;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-weight: 700;
  padding: 19px 39px 18px;
  font-size: 14px;
  /*border-color: #326E99;*/
  background-color:  #333333;
  cursor: pointer;
  border-radius: 5px;
  /*margin: 0 7vh 5vh 0;*/
  /*flex: 2;*/
}

.button:hover,
.github:hover,
.linkedin:hover,
.google:hover,
.codewars:hover {
  color: white;
  background-color: #404040;
}

/*WORK PAGE */

.container-bok {
  font-family: hero;
  text-align: center;
  /*font-size: 25px;*/
}

.work-titles,
.about-heading {
  font-family: Hero;
  padding: 20vh;
  color: white;
}

.burger-image{
  background-image: url('../images/wall.jpg');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
}

.bok-site {
  color: white;
}

.bok-site:hover {
  color: #E5E5E5;
}

.proj-image{
  background-image: url('../images/work-backgrounds-01.png');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
  background-color: white;
}

.proj2-image{
  /*background-image: url('../images/beach_vibrant.jpg');*/
  background-image: url('../images/work-backgrounds-03.png');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
}

.proj3-image{
  background-image: url('../images/Charleston1910 copy.jpg');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
}

.work-container {
  background: #E5E5E5;
  color: #333333;
  /*height: 400px;*/
  margin: auto;
}

.work-flex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: auto;
  padding-bottom: 10vh;
}

.image-design {
  zoom: .2;
  margin: 3vh 3vh 0 3vh;
  /*flex: 1;*/
}

.image-design2 {
  zoom: .3;
    margin: 3vh 3vh 0 3vh;
  /*flex: 1;*/
}

.image-design3 {
  zoom: .2;
    margin: 3vh 3vh 0 3vh;
  /*flex: 1;*/
}

.image-design4 {
  zoom: .2;
    margin: 3vh 3vh 0 3vh;
  /*flex: 1;*/
}

.image-design5 {
  zoom: .2;
    margin: 3vh 3vh 0 3vh;
  /*flex: 1;*/
}

.image-design6 {
  zoom: .2;
    margin: 3vh 3vh 0 3vh;
  /*flex: 1;*/
}

.other-projects {
  font-family: Hero;
  text-align: center;
  padding: 10vh 0 3vh 0;
  font-size: 25px;
}

.case-link {
  color: white;
}

.case-link:hover {
  color: #E5E5E5;
}

/*CASE STUDY PAGES*/

.case {
  /*width: 800px;
  height: 400px;*/
  margin: auto;
  font-family: Hero;
}

.case-heading {
  margin-top: 7vh;
  /*margin-bottom: 10vh;*/
  text-align: center;
}

.case-image-bok {
  background-image: url('../images/computer-bok-17.png');
  height: 2200px;
  zoom: .3;
  background-repeat: no-repeat;
  background-position: center;
}

.case-image-tuts {
  background-image: url('../images/computer-tuts-18.png');
  height: 2200px;
  zoom: .3;
  background-repeat: no-repeat;
  background-position: center;
}

.case-image-final {
  background-image: url('../images/computer-19.png');
  height: 2200px;
  zoom: .3;
  background-repeat: no-repeat;
  background-position: center;
}

.case-body {
  background-color: #E5E5E5;
  /*background-color: white;*/
  height: 300px;
  width: 70%;
  margin: auto;
  text-align: left;
}

.view-others {
  height: 300px;
  /*background-color: white;*/
  font-family: Hero;
  text-align: center;
}

.squares {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.image {
  height: 200px;
  width: 250px;
}

.s3 {
  /*height: 200px;
  width: 250px;*/
  /*background-color: #333333;*/
    /*background-image: url('../images/squares-20.png');*/
  flex: 1
  padding: 10vw;
  margin: auto;
  cursor: pointer;
  border: 2px solid #333333;
}

.s2 {
  /*height: 200px;
  width: 250px;*/
  /*background-color: #333333;*/
  /*background-image: url('../images/squares-21.png');*/
  flex: 1
  /*padding: 10vw;*/
  margin: auto;
  cursor: pointer;
  border: 2px solid #333333;
}

.s1 {
  /*height: 200px;
  width: 250px;*/
  /*background-color: #333333;*/
  /*background-image: url('../images/squares-22.png');*/
  /*flex: 1*/
  /*padding: 10vw;*/
  margin: auto;
  cursor: pointer;
  border: 2px solid #333333;
}

/*UNUSED CSS*/

/*.container {
  background: #e9e9f0;
  height: 500vh;
  margin: 0 40vw 0 10vw;
}*/

/*.viewport {
  background-size: cover;
  background-image: url('../images/background-18.png');
  height: 120vh;
  zoom: 1;
}*/

/*footer {
  background: #e9e9f0;
  text-align: center;
  padding: 3vh;
  font-family: Hero;
  display: flex;
  justify-content: flex-end;
}*/

/*.background-image{
  background-image: url('../images/wall.jpg');
  zoom: .3;
  background-position:center;
}*/

/*work on this one*/
/*.proj-image:hover,
.proj2-image:hover,
.proj3-image:hover {
  opacity: 0.5;
}*/

/*work on this one */
/*.work-titles:hover {*/
  /*color: #333333;*/
  /*opacity: 1;
  z-index: 1;
}*/
