*  {
  margin: 0;
}

@font-face {
  font-family: 'Hero';
  src: url('../fonts/Hero copy.otf');
}

a {
  text-decoration: none;
}

p {
  font-family: Hero;
}

/*body {
  font-family: Hero;
}*/

/*@font-family-Hero;*/

/*.container {
  background: #e9e9f0;
  height: 500vh;
  margin: 0 40vw 0 10vw;
}*/

header {
  background: #333333;
  padding: .2vh;
  color: white;
  font-family: Hero;
}

#RB {
  padding: 4vh 0 0 2vw;
}

.navbar {
  padding: 0 5vw 3vh 5vw;
  color: white;
}

.navbar:hover {
  color: #CCCCCC;
}

.navbar.active {
   box-shadow: inset 0 0px 0 white, inset 0 -5px 0 white;

}

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: -3vh;
}

/*.viewport {
  background-size: cover;
  background-image: url('../images/background-18.png');
  height: 120vh;
  zoom: 1;
}*/

/*footer {
  background: #e9e9f0;
  text-align: center;
  padding: 3vh;
  font-family: Hero;
  display: flex;
  justify-content: flex-end;
}*/

/*.background-image{
  background-image: url('../images/wall.jpg');
  zoom: .3;
  background-position:center;
}*/

.h1 {
  font-family: Hero;
  padding: 25vh;
}

.about {
  background: #CCCCCC;
  height: 400px;
  text-align: center;

}

.brand-statement {
  /*font-family: Hero;*/
  /*margin-top: -5vh;*/
  width: 70%;
  /*margin: auto;*/
  padding: 15vh 20vh 0 20vh;
  font-size: 25px;
  color: #333333;
  /*text-align: left;*/
}

.resume {
  font-size: 20px;
  font-family: Hero;
  color: #333333;
  /*padding: 20vh;*/
}

.resume:hover {
  color: white;
}

.container-bok {
  font-family: hero;
  text-align: center;
  /*font-size: 25px;*/
}

.work-titles {
  padding: 20vh;
  color: white;
}

.burger-image{
  background-image: url('../images/wall.jpg');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
}

.bok-site {
  color: white;
}

.bok-site:hover {
  color: #CCCCCC;
}

.proj-image{
  background-image: url('../images/BokBurgerList.png');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
}

.proj2-image{
  background-image: url('../images/beach_vibrant.jpg');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
}

.proj3-image{
  background-image: url('../images/Charleston1910 copy.jpg');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
}

.work-container {
  background: #CCCCCC;
  color: #333333;
  height: 500px;
}

.other-projects {
  font-family: Hero;
  text-align: center;
  padding: 10vh;
}

.me {
  background-image: url('../images/me.JPG');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 500px;
  color: white;
  margin:auto;
  background-color: #7CC6C5;
}

.container{
    text-align:center;
    color:#FFF;
    font-weight:bold;
}
