/*BASE STYLES*/

*  {
  margin: 0;
}

@font-face {
  font-family: 'Hero';
  src: url('../fonts/Hero copy.otf');
}

a {
  text-decoration: none;
}

p {
  font-family: Hero;
}

body {
  /*background-color: #333333;*/
  /*background-color: #CCCCCC;*/
  background-color: #E5E5E5;
}

/*USED ACROSS MULTIPLE PAGES*/

hr {
  text-align: center; margin: 0 auto;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left, #E5E5E5, #8c8b8b, #E5E5E5);
  background-image: -moz-linear-gradient(left, #E5E5E5, #8c8b8b, #E5E5E5);
  background-image: -ms-linear-gradient(left, #E5E5E5, #8c8b8b, #E5E5E5);
  background-image: -o-linear-gradient(left, #E5E5E5, #8c8b8b, #E5E5E5);
}

.h1 {
  font-family: Hero;
  padding: 25vh;
}

.container{
    text-align:center;
    color:#FFF;
    font-weight:bold;
}

/*INDEX PAGE */

header {
  /*background: #333333;*/
  padding: .2vh;
  color: white;
  font-family: Hero;
}

#RB {
  padding: 4vh 0 0 2vw;
  color: #333333;
  font-size: 20px;
}

.navbar {
  padding: 0 5vw 3vh 5vw;
  color: #333333;
  margin-bottom: 9px;
}

.navbar:hover {
  /*color: #E5E5E5;*/
  color: white;
  /*color: white;*/
}

.navbar.active {
   box-shadow: inset 0 0px 0 #333333, inset 0 -5px 0px #333333;
   margin-bottom: 9px;
   /*margin-top: -5px;*/
}

/*.navbar.active:hover {
   box-shadow: inset 0 0px 0 white, inset 0 -5px 0px white;
}*/

nav {
  display: flex;
  justify-content: flex-end;
  margin-top: -3vh;
}

/*HOME PAGE*/

.sliders {
  text-align: center;
  padding-top: 25vh;
}

.circles {
  /*width: 300px;*/
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content:center;
}

#c1,
#c2,
#c3,
#c4,
#c5 {
  padding: 5vh;
  /*color: #80AEFF;*/
  color: #333333;
  cursor: pointer;
}

#c1:active,
#c2:active,
#c3:active,
#c4:active,
#c5:active {
  padding: 5vh;
  color: #3567BF;
}

#word-1 {
  font-family: Hero;
  font-size: 13vh;
  display: flex;
  justify-content: center;
  /*color: #80AEFF;*/
  color: #668BCC;
  text-shadow: 2px 2px #B2CDFF;
}

#word-2 {
  font-family: Hero;
  font-size: 13vh;
  display: flex;
  justify-content: center;
  color: #46608C;
  text-shadow: 2px 2px #B2CDFF;
}

#word-3 {
  font-family: Hero;
  font-size: 13vh;
  display: flex;
  justify-content: center;
  color: #26344C;
  text-shadow: 2px 2px #B2CDFF;
}

#word-4 {
  font-family: Hero;
  font-size: 13vh;
  display: flex;
  justify-content: center;
  color: #6C94D9;
  text-shadow: 2px 2px #B2CDFF;
}

#word-5 {
  font-family: Hero;
  font-size: 13vh;
  display: flex;
  justify-content: center;
  color: #597AB2;
  text-shadow: 2px 2px #B2CDFF;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

/*ABOUT PAGE */

.about {
  background: #E5E5E5;
  height: 325px;
  text-align: center;
}

.brand-statement {
  /*font-family: Hero;*/
  font-family: 'Taviraj', serif;
  /*margin-top: -5vh;*/
  width: 70%;
  /*margin: auto;*/
  padding: 10vh 20vh 0 20vh;
  font-size: 20px;
  color: #333333;
  /*text-align: left;*/
}

.what-i-do {
  width: 100%;
  /*height: 300px;*/
  background-color: white;
}

.skill-container {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
}

.skill {
  zoom: .05
}

.about-padding {
  padding-top: 12vh;
}

.about-buttons {
  text-align: center;
  /*padding: 0 5vh 0 0;*/
  /*margin: auto;*/
  /*flex-wrap: reverse;
  justify-content: space-around;*/
}

.resume,
.github,
.linkedin,
.google,
.codewars {
  font-size: 20px;
  /*font-family: 'Taviraj', serif;*/
  font-family: Hero;
  color: #E5E5E5;
  display: flex;
  text-align: center;
  /*flex-wrap: reverse;
  justify-content: space-around;*/
  /*padding: 20vh;*/
}

.resume:hover {
  color: white;
}

.about-container {
  /*background: #E5E5E5;
  /*background-color: white;*/
  color: #333333;
  background-color: white;
  height: 250px;
}

.me {
  background-image: url('../images/me.JPG');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 500px;
  color: white;
  margin:auto;
  background-color: #E5E5E5;
}

.get-in-touch {
  /*font-family: Hero;*/
  font-family: 'Taviraj', serif;
  /*text-align: center;*/
  font-size: 20px;
  /*padding-top: 10vh;*/
}

.contact-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row;
  background-color: #E5E5E5;
  height: 200px;
}

.email {
  zoom: .05;
  /*margin: auto;*/
}

.button {
  border-style: solid;
  border-width: 0px 0px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  color: #cccccc;
  display: inline-block;
  font-style: normal;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  text-overflow: ellipsis;
  transition: all 200ms ease-in-out 0s;
  white-space: nowrap;
  font-weight: 700;
  padding: 19px 39px 18px;
  font-size: 14px;
  /*border-color: #326E99;*/
  background-color:  #333333;
  cursor: pointer;
  border-radius: 5px;
  /*margin: 0 7vh 5vh 0;*/
  /*flex: 2;*/
}

.button:hover,
.github:hover,
.linkedin:hover,
.google:hover,
.codewars:hover {
  color: white;
  background-color: #404040;
}

/*WORK PAGE */

/*.Taviraj {
  font-family: 'Taviraj', serif;
}*/

/*.container-bok {
  font-family: hero;
  text-align: center;
  /*font-size: 25px;*/
/*}*/

.break {
  height: 50px;
  display: flex;
}

/*.go-to {
  flex: 4;
  justify-content: space-between;
  padding: 1vh 0vh 1vh 0vh;
  text-align: center;
}*/

.about-heading {
  font-family: Hero;
  padding: 10vh;
  color: #333333;
  /*color: #E5E5E5;*/
}

.work-titles {
  font-family: Hero;
  padding: 20vh;
  color: white;
  text-align: right;
}

.work-titles1 {
  font-family: Hero;
  padding: 20vh;
  color: #333333;
  text-align: right;
}

.work-titles2 {
  font-family: Hero;
  padding: 20vh;
  color: #333333;
  text-align: left;
}

.header-image{
  /*background-image: url('../images/WineBottles.jpg');*/
  background-color: #E5E5E5;
  /*background-color: #333333;*/
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 200px;
}

.site-link {
  color: white;
}

.site-link1 {
  color: #333333;
}

.site-link:hover {
  color: #E5E5E5;
}

.proj-image{
  background-image: url('../images/work-backgrounds1-01.png');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
  background-color: white;
}

.proj2-image{
  /*background-image: url('../images/beach_vibrant.jpg');*/
  background-image: url('../images/work-backgrounds-04.png');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
}

.proj3-image{
  background-image: url('../images/Charleston1910 copy.jpg');
  background-repeat: no-repeat;
  background-position:center;
  width: 100%;
  height: 400px;
}

.work-container {
  background: #E5E5E5;
  color: #333333;
  /*height: 400px;*/
  /*margin: auto;*/
}

.work-flex {
  /*display: flex;*/
  /*justify-content: space-around;*/
  /*flex-wrap: wrap;*/
  /*align-items: center;*/
  text-align: center;
  /*margin: auto;*/
  padding-bottom: 10vh;
}

.work-box {
  width: 55%;
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  padding-bottom: 5vh;
  padding-top: 5vh;
}

.design-desc {
  flex: 1;
  text-align: center;
  font-family: 'Taviraj', serif;
}

.image-design {
  zoom: .25;
  padding-bottom: 10vh;
  /*margin: 3vh 3vh 0 3vh;*/
  flex: 1;
}

.image-design2 {
  zoom: .2;
  padding-bottom: 10vh;
  padding-top: 10vh;
    /*margin: 3vh 3vh 0 3vh;*/
  /*flex: 1;*/
}

.image-design3 {
  zoom: .2;
  padding-bottom: 10vh;
  padding-top: 10vh;
    /*margin: 3vh 3vh 0 3vh;*/
  /*flex: 1;*/
}

.image-design4 {
  zoom: .2;
  padding-bottom: 10vh;
  padding-top: 10vh;
    /*margin: 3vh 3vh 0 3vh;*/
  /*flex: 1;*/
}

.image-design5 {
  zoom: .2;
  padding-bottom: 10vh;
  padding-top: 10vh;
    /*margin: 3vh 3vh 0 3vh;*/
  /*flex: 1;*/
}

.image-design6 {
  zoom: .2;
  padding-bottom: 10vh;
  padding-top: 10vh;
    /*margin: 3vh 3vh 0 3vh;*/
  /*flex: 1;*/
}

.other-projects {
  font-family: Hero;
  text-align: center;
  padding: 10vh 0 3vh 0;
  font-size: 25px;
}

.case-link {
  color: white;
}

.case-link1 {
  color: #333333;
}

.case-link:hover {
  color: #E5E5E5;
}

/*CASE STUDY PAGES*/

.case {
  /*width: 800px;
  height: 400px;*/
  margin: auto;
  font-family: Hero;
}

.case-heading {
  margin-top: 7vh;
  /*margin-bottom: 10vh;*/
  text-align: center;
}

.case-image-bok {
  background-image: url('../images/computer-bok-17.png');
  height: 2200px;
  zoom: .3;
  background-repeat: no-repeat;
  background-position: center;
}

.case-image-tuts {
  background-image: url('../images/computer-tuts-18.png');
  height: 2200px;
  zoom: .3;
  background-repeat: no-repeat;
  background-position: center;
}

.case-image-final {
  background-image: url('../images/computer-19.png');
  height: 2200px;
  zoom: .3;
  background-repeat: no-repeat;
  background-position: center;
}

.body-width {
  width: 100%;
  background: white;
}

.case-body {
  /*background-color: #E5E5E5;*/
  /*background-color: white;*/
  /*height: 300px;*/
  width: 70%;
  padding-top: 10vh;
  margin: auto;
  text-align: left;
  padding-bottom: 10vh;
}

.case-text {
  font-family: 'Taviraj', serif;
  font-size: 18px;
}

.case-pics {
  height: 600px;
  margin-top: -10vh;
}

#cow {
  background-image: url('../images/cow-02.png');
  zoom: .4;
  background-repeat: no-repeat;
  background-position: center;
}

#cow:hover {
  background-image: url('../images/cow-01.png');
  background-repeat: no-repeat;
  background-position: center;
}

#task {
  background-image: url('../images/time-example.png');
  zoom: .35;
  background-repeat: no-repeat;
  background-position: center;
}

.view-others {
  height: 250px;
  padding-top: 10vh;
  padding-bottom: 10vh;
  /*background-color: white;*/
  font-family: Hero;
  text-align: center;
}

.squares {
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.image {
  height: 200px;
  width: 250px;
}

.s3 {
  /*height: 200px;
  width: 250px;*/
  /*height: 200px;
  width: 250px;*/
  /*background-color: #333333;*/
    /*background-image: url('../images/squares-20.png');*/
  flex: 1
  padding: 10vw;
  margin: auto;
  cursor: pointer;
  border: 2px solid #333333;
}

.s2 {
  /*height: 200px;
  width: 250px;*/
  /*height: 200px;
  width: 250px;*/
  /*background-color: #333333;*/
  /*background-image: url('../images/squares-21.png');*/
  flex: 1
  /*padding: 10vw;*/
  margin: auto;
  cursor: pointer;
  border: 2px solid #333333;
}

.s1 {
  /*height: 200px;
  width: 250px;*/
  /*height: 200px;
  width: 250px;*/
  /*background-color: #333333;*/
  /*background-image: url('../images/squares-22.png');*/
  /*flex: 1*/
  /*padding: 10vw;*/
  margin: auto;
  cursor: pointer;
  border: 2px solid #333333;
}

/*UNUSED CSS*/

/*.container {
  background: #e9e9f0;
  height: 500vh;
  margin: 0 40vw 0 10vw;
}*/

/*.viewport {
  background-size: cover;
  background-image: url('../images/background-18.png');
  height: 120vh;
  zoom: 1;
}*/

/*footer {
  background: #e9e9f0;
  text-align: center;
  padding: 3vh;
  font-family: Hero;
  display: flex;
  justify-content: flex-end;
}*/

/*.background-image{
  background-image: url('../images/wall.jpg');
  zoom: .3;
  background-position:center;
}*/

/*work on this one*/
/*.proj-image:hover,
.proj2-image:hover,
.proj3-image:hover {
  opacity: 0.5;
}*/

/*work on this one */
/*.work-titles:hover {*/
  /*color: #333333;*/
  /*opacity: 1;
  z-index: 1;
}*/
