<!-- NEED TO MAKE THIS DRYER -->
<script>
jQuery(function () {
    var $els = $('div[id^=round]'),
        i = 0,
        len = $els.length;

    $els.slice(1).hide();
    setInterval(function () {
        $els.eq(i).fadeOut(function () {
            i = (i + 1) % len
            $els.eq(i).fadeIn();
        })
    }, 5000)
})
jQuery(function () {
    var $els = $('div[id^=word]'),
        i = 0,
        len = $els.length;

    $els.slice(1).hide();
    setInterval(function () {
        $els.eq(i).fadeOut(function () {
            i = (i + 1) % len
            $els.eq(i).fadeIn();
        })
    }, 5000)
})
jQuery(function () {
    var $els = $('div[id^=third]'),
        i = 0,
        len = $els.length;

    $els.slice(1).hide();
    setInterval(function () {
        $els.eq(i).fadeOut(function () {
            i = (i + 1) % len
            $els.eq(i).fadeIn();
        })
    }, 5000)
})
jQuery(function () {
    var $els = $('div[id^=fourth]'),
        i = 0,
        len = $els.length;

    $els.slice(1).hide();
    setInterval(function () {
        $els.eq(i).fadeOut(function () {
            i = (i + 1) % len
            $els.eq(i).fadeIn();
        })
    }, 5000)
})
jQuery(function () {
    var $els = $('div[id^=fifth]'),
        i = 0,
        len = $els.length;

    $els.slice(1).hide();
    setInterval(function () {
        $els.eq(i).fadeOut(function () {
            i = (i + 1) % len
            $els.eq(i).fadeIn();
        })
    }, 5000)
})
</script>

<div class='home'>
  <div id='typed-words' class='sliders' ng-init='show = 1'>

    <h1 id='word-1' ng-show='show == 1'>
      <div id="round1">HEY, I'M RACHEL</div>
      <div id="round2">WEB DEVELOPER</div>
      <div id="round3">CREATIVE</div>
      <div id="round4">FONT FREAK</div>
      <div id="round5">STUDENT</div>
    </h1>

    <h1 id='word-2' ng-show='show == 2'>
      <div id="word1">WEB DEVELOPER</div>
      <div id="word2">CREATIVE</div>
      <div id="word3">FONT FREAK</div>
      <div id="word4">STUDENT</div>
      <div id="word5">HEY, I'M RACHEL</div>
    </h1>

    <h1 id='word-3' ng-show='show == 3'>
      <div id="third1">CREATIVE</div>
      <div id="third2">FONT FREAK</div>
      <div id="third3">STUDENT</div>
      <div id="third4">HEY, I'M RACHEL</div>
      <div id="third5">WEB DEVELOPER</div>
    </h1>

    <h1 id='word-4' ng-show='show == 4'>
      <div id="fourth1">FONT FREAK</div>
      <div id="fourth2">STUDENT</div>
      <div id="fourth3">HEY, I'M RACHEL</div>
      <div id="fourth4">WEB DEVELOPER</div>
      <div id="fourth5">CREATIVE</div>
    </h1>

    <h1 id='word-5' ng-show='show == 5'>
      <div id="fifth1">STUDENT</div>
      <div id="fifth2">HEY, I'M RACHEL</div>
      <div id="fifth3">WEB DEVELOPER</div>
      <div id="fifth4">CREATIVE</div>
      <div id="fifth5">FONT FREAK</div>
    </h1>

  </div>

  <div class='circles'>
    <h1 id='c1' ng-class='{active:show == 1}' ng-click='show = 1'>&#9678;<h1>
    <h1 id='c2' ng-class='{active:show == 2}' ng-click='show = 2'>&#9678;<h1>
    <h1 id='c3' ng-class='{active:show == 3}' ng-click='show = 3'>&#9678;<h1>
    <h1 id='c4' ng-class='{active:show == 4}' ng-click='show = 4'>&#9678;<h1>
    <h1 id='c5' ng-class='{active:show == 5}' ng-click='show = 5'>&#9678;<h1>
  </div>
    <br><br><br><br><br><br><br><br>
</div>

<!-- <div class='home'>
<div id='typed-words' class='sliders' ng-init='show = 1'>
<h1 class='animated pulse' id='word-1' ng-show='show == 1'>HEY, I'M RACHEL</h1>
<h1 class='animated pulse'  id='word-2' ng-show='show == 2'>WEB DEVELOPER</h1>
<h1 class='animated pulse' id ='word-3' ng-show='show == 3'>CREATIVE</h1>
<h1 class='animated pulse' id='word-4' ng-show='show == 4'>FONT FREAK</h1>
<h1 class='animated pulse' id = 'word-5' ng-show='show == 5'>STUDENT</h1>
</div>
<div class='circles'>
<h1 id='c1' ng-class='{active:show == 1}' ng-click='show = 1'>&#9678;<h1>
<h1 id='c2' ng-class='{active:show == 2}' ng-click='show = 2'>&#9678;<h1>
<h1 id='c3' ng-class='{active:show == 3}' ng-click='show = 3'>&#9678;<h1>
<h1 id='c4' ng-class='{active:show == 4}' ng-click='show = 4'>&#9678;<h1>
<h1 id='c5' ng-class='{active:show == 5}' ng-click='show = 5'>&#9678;<h1>
</div>
<br><br><br><br><br><br><br><br>
</div> -->
<!-- <div class='white-space'></div> -->

<div ui-view><div>

<!-- FROM http://jsfiddle.net/arunpjohny/asTBL/ -->
