
<div class='home'>
<div id='typed-words' class='sliders' ng-init='show = 1'>
<h1 id='word-1' ng-show='show == 1'>HEY, I'M RACHEL</h1>
<h1 id='word-2' ng-show='show == 2'>WEB DEVELOPER</h1>
<h1 id ='word-3' ng-show='show == 3'>CREATIVE</h1>
<h1 id='word-4' ng-show='show == 4'>FONT FREAK</h1>
<h1 id = 'word-5' ng-show='show == 5'>STUDENT</h1>
</div>
<span id="words"></span>
<div class='circles'>
<h1 id='c1' ng-class='{active:show == 1}' ng-click='show = 1'>&#9678;<h1>
<h1 id='c2' ng-class='{active:show == 2}' ng-click='show = 2'>&#9678;<h1>
<h1 id='c3' ng-class='{active:show == 3}' ng-click='show = 3'>&#9678;<h1>
<h1 id='c4' ng-class='{active:show == 4}' ng-click='show = 4'>&#9678;<h1>
<h1 id='c5' ng-class='{active:show == 5}' ng-click='show = 5'>&#9678;<h1>
</div>
</div>

<!-- angular animate
ng-show, hide
if id = “”, show else hide
transition duration - change every 10 seconds  -->
